<div id="cube-container" >
  <div class="cube">
    <div class="top"><app-img-with-loader [src]=""></app-img-with-loader></div>
    <div class="front"><app-img-with-loader [src]=""></app-img-with-loader></div>
    <div class="bottom"><app-img-with-loader [src]=""></app-img-with-loader></div>
    <div class="back"><app-img-with-loader [src]=""></app-img-with-loader></div>
  </div>
  <!-- <div *ngFor="let title of titles; index as i" [@cube]="klass[i]">
    <app-img-with-loader [src]=""></app-img-with-loader>
  </div>
  <button (click)="up()">up</button>
  <button (click)="down()">down</button> -->
</div>
