<footer class="container-fluid bg-light">
  <div class="row">

    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <div *ngFor="let link of firstGroupLinks">
            <app-link [link]="link"></app-link>
          </div>
        </div>
        <div class="col-3">
          <div *ngFor="let link of secondGroupLinks">
            <app-link [link]="link"></app-link>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 d-flex justify-content-end">
      <span>FOLLOW US</span>
    </div>
  </div>

  <hr>

  <div class="row justify-content-between">
    <small class="col">© 2019 Gramofonika. All rights reserved.</small>
    <p class="col d-flex justify-content-end">
      <small>Catalog data provided by <a href="">Discogs</a></small>
    </p>
  </div>
</footer>